<!--The content below is only a placeholder and can be replaced.-->
<div>
  <button (click)="getStudents()">Get students from database dynamically</button>
  <li *ngFor="let item of results">{{item.name}}</li>
</div>
<router-outlet></router-outlet>
